.navbar {
  background-color: #fff;
  padding: 10px 0;
  @include media-breakpoint-down(md) {
    display: none;
  }
  .nav-item {
    margin: 0 20px;
    .nav-link {
      color: #b0b3b8;
    }
    &.active {
      .nav-link {
        color: #000;
      }
    }
  }
}
.mobile-navbar {
  @include media-breakpoint-up(lg) {
    display: none;
  }
  // #202020
  background-color: #232526;
  bottom: 0;
  height: 65px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 100;
  border-top: 2px solid #353738;
  overflow: hidden;
  &-container {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
  }
  &-item {
    color: #b0b3b8;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0;
    padding: 0 2px;
    a {
      color: #b0b3b8;
    }
    &.active {
      color: #fff;
    }
  }
}
