.social-links {
  list-style-type: none;
  padding: 0;
  margin: 1.5em 0;
  li {
    display: inline-block;
    margin-right: 1em;
    a {
      display: inline-block;
      height: 32px;
      width: 32px;
      svg {
        path {
          fill: #a0a0a0;
        }
      }
    }
  }
}