// @import "~bootstrap/scss/bootstrap/functions";
// @import "~bootstrap/scss/bootstrap/variables";
// @import "~bootstrap/scss/bootstrap/mixins";
// $body-bg: #000;

// @import "../node_modules/bootstrap/scss/bootstrap";
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/utilities';

body {
  font-family: 'Inter', sans-serif;
  &[data-theme='dark'] {
    background-color: #111;
    color: #eee;
  }
}
.navbar {
  padding: 10px 0;
}
.resume-body{
  margin-top: 10px;
}
.intro {
  display: flex;
  margin-bottom: 10px;
  .avatar {
    width: 100px;
    margin-right: 10px;
    .profile-avatar {
      max-width: 100px;
      margin-right: 3px;
      border-radius: 10px;
    }
  }
  .details{
    h2{
      margin-bottom: 0;
    }
    h3{
      margin-bottom: 0;
    }
  }
}
.home{
  .intro-hero{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    .avatar {
      width: 300px;
      margin-right: 30px;
      .profile-avatar {
        max-width: 300px;
        margin-right: 3px;
        border-radius: 10px;
      }
    }
    .details{     
      max-width: 400px;
      h2{
        font-size: 32px;
        margin-bottom: 0;
      }
      h3{
        font-size: 24px;
        margin-bottom: 0;
      }
      p{
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }
}